@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import "tailwindcss";

@theme {
    /* Nav Button Font */
    --font-jersey10: "Jersey 10", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-oxanium: "Oxanium", sans-serif;
    --inset-shadow-md: inset 0 0 20px 20px #070709;

    --animate-typing: typing 2s steps(22, end);
    --animate-contentButton1Full: idle 1s linear, contentButton1 2s ease-in-out 1s, pictureBobbing 3s linear 5s infinite; 
  
    @keyframes typing
    {
        from { width: 0ch}
        to { width: 22ch}
    }
    @keyframes idle 
    {
        0% {
            top:55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        100% {
            top:55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    @keyframes idle2
    {
        0% {
            bottom: 20%;
            left: 50%;
            transform: translate(-50%);
        }
        100% {
            bottom: 20%;
            left: 50%;
            transform: translate(-50%);
        }
    }

    @keyframes contentButton1
    {
        0% {
            top:55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        100% {
            top: -5%;
        }
    }

    @keyframes contentButton2
    {
        0% {
            bottom:20%;
            left: 50%;
            transform: translate(-50%);
        }
        100% {
            bottom: -5%;
        
        }
    }
    /*This is for when the picture buttons reach their destination and flash 2 times so that the user knows they can click on it*/
    

    @keyframes pictureBobbing {
        0%{
            transform: translate(0, 0);
            z-index: 68;
        }
        50% {
            transform: translate(0, -5%);
            z-index: 68;
        }
        100% {
            transform: translate(0, 0);
            z-index: 68;
        }
    }
}

h1 {
    @apply text-white font-oxanium text-center ;
}

.tagLine {
    @apply w-auto whitespace-nowrap overflow-hidden inline-block lg:text-3xl;
}

h2 {
    @apply text-white font-oxanium text-center lg:text-3xl;
}

/* Index Page */
.homePhoto {
    @apply aspect-auto w-full rounded-lg pointer-events-none;
}

.containerPic1 {
    @apply w-1/4 absolute top-[-5%] left-[-15%] z-40 overflow-hidden after:content-['Lessons'] after:absolute after:top-0 after:left-0 after:flex after:w-full after:h-full after:pointer-events-none after:opacity-0 after:bg-[rgba(0,0,0,0.5)] after:transition-opacity after:duration-150 after:text-white after:font-oxanium after:lg:text-xl after:text-center hover:after:opacity-100 after:items-center after:justify-center group-hover:shadow-none animate-contentButton1Full;
}
.containerPic2 {
    @apply w-1/4 absolute bottom-[-5%] right-[-15%] z-40 overflow-hidden after:content-['About'] after:absolute after:top-0 after:left-0 after:flex after:w-full after:h-full after:pointer-events-none after:opacity-0 after:bg-[rgba(0,0,0,0.5)] after:transition-opacity after:duration-150 after:text-white after:font-oxanium after:lg:text-xl after:text-center hover:after:opacity-100 after:items-center after:justify-center group-hover:shadow-none;
}
.lowerBodyIndex {
    @apply w-full h-3/4;
}
.insetBorder {
    @apply w-full h-full z-10 absolute inset-0 inset-shadow-md overflow-hidden pointer-events-none;

}
.interactiveLaptop {
    @apply lg:w-full lg:h-full aspect-auto rounded-md absolute top-0 left-0 z-67;
}

.question {
    @apply w-full h-full;
}

.modelButtonContainer {
    @apply lg:w-3/5 lg:h-3/4 border-4 border-amber-100 absolute top-9/16 left-1/2 translate-x-[-50%] translate-y-[-50%];
}