@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import "tailwindcss";


@theme {
    /* Nav Button Font */
    --font-jersey10: "Jersey 10", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-oxanium: "Oxanium", sans-serif;

    
    --animate-laptopToggle: laptopToggle 64s linear 3s infinite;
    
    @keyframes laptopToggle {
        0% {
            top:50%;
            left: 50%;
            transform: translate(0, 0%)
        }
        50% {
            top:50%;
            left: 50%;
            transform: translate(-10%, 0%)
        }
        100% {
            top:50%;
            left: 50%;
            transform: translate(0%, 0%)
        }
    }

    
}



/* START OF GLOBAL CLASSES */
/* Body */
body {
    @apply bg-[#070709];
}

/* Navigation Buttons */
nav {
    @apply flex justify-between items-center px-6 py-4 top-0 w-full shadow-md right-2;
    @apply text-[white] sm:text-base md:text-lg lg:text-xl font-oxanium;
}
.navDiv {
    @apply flex gap-6 z-100;
}
.clubHeading {
    @apply h-1/5;
}
.clubHeadingPic {
    @apply h-10;
}
.homePageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400;
}
.eventsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400;
}
.lessonsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400;
}
.projectsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400;
}
.socialsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400;
}
/* END OF GLOBAL CLASSES */


/* START OF EVENTS  */
.eventsLowerDiv {
    @apply w-full h-full grid grid-rows-2 gap-7;
}
.eventsCalendarContainer {
    @apply w-full h-full flex flex-wrap flex-row justify-evenly row-span-1;
}
.eventsCalendarDiv {
    @apply w-[50vw] h-full;
    @apply rounded-2xl;
}
.eventsCalendar {
    @apply w-full h-full rounded-2xl; 
}
.eventsUpcomingListD {
    @apply bg-white w-[40vw] h-full;
}
.eventsImageContainer {
    @apply w-full h-full row-span-1 bg-amber-500;
}