@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import "tailwindcss";


@theme {
    /* Nav Button Font */
    --font-jersey10: "Jersey 10", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-oxanium: "Oxanium", sans-serif;

    --inset-shadow-md: inset 0 0 20px 20px rgba(0, 0, 0, 1);
    --animate-laptopToggle: laptopToggle 64s linear 3s infinite;
    --animate-pictureBobbing: pictureBobbing 3s linear 0s infinite;
    @keyframes laptopToggle {
        0% {
            top:50%;
            left: 50%;
            transform: translate(0, 0%)
        }
        50% {
            top:50%;
            left: 50%;
            transform: translate(-10%, 0%)
        }
        100% {
            top:50%;
            left: 50%;
            transform: translate(0%, 0%)
        }
    }

    @keyframes pictureBobbing {
        0%{
            transform: translate(0, 0)
        }
        50% {
            transform: translate(0, -5%)
        }
        100% {
            transform: translate(0, 0)
        }
    }
}



/* GLOBAL CLASSES */
/* Body */
body {
    @apply bg-[#070709];
}

/* Navigation Buttons */
nav {
    @apply flex justify-between items-center px-6 py-4 top-0 w-full shadow-md right-2;
    @apply text-[white] sm:text-base md:text-lg lg:text-xl font-oxanium;
}
.clubHeading {
    @apply h-1/5
}
.clubHeadingPic {
    @apply h-10
}
.navDiv {
    @apply flex gap-6;
}
.homePageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400;
}
.eventsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400;
}
.lessonsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400;
}
.projectsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400;
}
.socialsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400;
}

/* Lower Body */
/* 3D Interactive Model */
.lowerBodyIndex {
    @apply w-full h-3/4;
}

.homePhoto {
    @apply aspect-auto w-full rounded-lg pointer-events-none;
}

.containerPic1 {
    @apply w-1/7 absolute top-2/8 left-1/10 overflow-hidden animate-pictureBobbing after:content-['Lessons'] after:absolute after:top-0 after:left-0 after:flex after:w-full after:h-full after:pointer-events-none after:opacity-0 after:bg-[rgba(0,0,0,0.5)] after:transition-opacity after:duration-150 after:text-white after:font-oxanium after:lg:text-xl after:text-center hover:after:opacity-100 after:items-center after:justify-center group-hover:shadow-none
}
.containerPic2 {
    @apply w-1/7 absolute top-5/8 right-1/10 overflow-hidden animate-pictureBobbing 
}

.insetBorder {
    @apply w-full h-full z-10 absolute inset-0 inset-shadow-md overflow-hidden pointer-events-none

}
.interactiveLaptop {
    @apply lg:h-4/5 lg:w-3/5 rounded-md absolute top-9/16 left-1/2 translate-y-[-40%] translate-x-[-50%];
}
/*  */