@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import "tailwindcss";


@theme {
    /* Nav Button Font */
    --font-jersey10: "Jersey 10", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-oxanium: "Oxanium", sans-serif;
}



/* GLOBAL CLASSES */
/* Body */
body {
    @apply bg-[#070709];
}

/* Navigation Buttons */
nav {
    @apply top-0 w-full shadow-md right-2 ;
}
.navDiv {
    @apply flex flex-wrap justify-end items-center gap-12 p-2 pr-5;
    @apply text-[white] sm:text-base md:text-lg lg:text-xl font-oxanium ;

}
.homePageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400
}
.eventsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400
}
.lessonsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400
}
.projectsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400
}
.socialsPageB {
    @apply after:content-[''] after:block after:w-full after:h-[2px] after:bg-green-400 after:scale-x-0 after:transition-transform after:duration-150 hover:after:scale-x-100;
    @apply active:text-gray-400
}
/*  */